<div ng-repeat="room in chat.rooms" class="col-md-6">
    <!-- DIRECT CHAT -->
    <div class="box box-warning direct-chat direct-chat-warning">
        <div class="box-header with-border">
            <h3 class="box-title">{{room.name}}</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                </button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <!-- Conversations are loaded here -->
            <div class="direct-chat-messages">
                <!-- Message. Default to the left -->
                <div ng-repeat="message in room.messages" ng-class="['direct-chat-msg', {'right': !chat.isMyMessage(message)}]">
                    <div class="direct-chat-info clearfix">
                        <span ng-class="['direct-chat-name', {'pull-left': chat.isMyMessage(message), 'pull-right': !chat.isMyMessage(message)}]">{{chat.senderName(message.sender)}}</span>
                        <span ng-class="['direct-chat-timestamp', {'pull-right': chat.isMyMessage(message), 'pull-left': !chat.isMyMessage(message)}]"> {{ chat.formatDate(message.submitDate) }}</span>
                    </div>
                    <!-- /.direct-chat-info -->
                    <img class="direct-chat-img" ng-attr-src="{{chat.senderImage(message.sender)}}" alt="message user image"><!-- /.direct-chat-img -->
                    <div class="direct-chat-text">
                        {{message.text}}
                    </div>
                    <!-- /.direct-chat-text -->
                </div>
                <!-- /.direct-chat-msg -->

            </div>
            <!--/.direct-chat-messages-->

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <div class="input-group">
                <input type="text" name="message" ng-model="chat[room._id].text" placeholder="Type Message ..."
                       ng-keypress="chat.sendOnEnterKey($event, room)" class="form-control">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-warning btn-flat" ng-click="chat.sendMessage(room)">Send</button>
                </span>
            </div>
        </div>
        <!-- /.box-footer-->
    </div>
    <!--/.direct-chat -->
</div>
<!-- /.col -->
