<div class="chatrooms" ng-show="chat.mainData.myUser">
<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Chat Rooms Selection</h3>
    </div>
    <div class="box-body">
        <div class="form-group">
            <div ng-repeat="room in chat.rooms" class="col-md-2">
                <div class="checkbox">
                    <input type="checkbox" ng-model="room.showRoom" ng-change="chat.roomSelectionChanged(room)"
                           id="checkRoom{{$index}}">
                    <label for="checkRoom{{$index}}">&nbsp;&nbsp;{{room.name}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<div ng-repeat="room in chat.rooms | filter:{showRoom:true}">
    <!-- DIRECT CHAT -->
    <div ng-class="[{'col-sm-6': !room.expanded, 'col-sm-12': room.expanded}]">
        <div class="box box-warning direct-chat direct-chat-warning" id="{{room._id}}">
            <div ng-show="room.loading" class="overlay">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
            <div class="box-header with-border">
                <h3 class="box-title">{{room.name}}</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool">
                        <i ng-class="['fa', {'fa-expand': !room.expanded, 'fa-compress': room.expanded}]"
                           ng-click="room.expanded = !(room.expanded)" ></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove" ng-click="chat.closeRoom(room)"><i
                            class="fa fa-times"></i>
                    </button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages">
                    <!-- Message. Default to the left -->
                    <div ng-repeat="message in room.messages"
                         ng-class="['direct-chat-msg', {'right': !chat.isMyMessage(message)}]">
                        <div class="direct-chat-info clearfix">
                            <span ng-class="['direct-chat-name', {'pull-left': chat.isMyMessage(message), 'pull-right': !chat.isMyMessage(message)}]">{{chat.senderName(message.sender)}}</span>
                            <span ng-class="['direct-chat-timestamp', {'pull-right': chat.isMyMessage(message), 'pull-left': !chat.isMyMessage(message)}]"> {{ chat.formatDate(message.submitDate) }}</span>
                        </div>
                        <!-- /.direct-chat-info -->
                        <img class="direct-chat-img" ng-attr-src="{{chat.senderImage(message.sender)}}"
                             alt="message user image"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            <!--{{message.text}}-->
                            <p ng-bind-html="message.text"></p>
                        </div>
                        <!-- /.direct-chat-text -->
                    </div>
                    <!-- /.direct-chat-msg -->

                </div>
                <!--/.direct-chat-messages-->

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="input-group" style="width: 100%;">
                    <div style="height: 200px;font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                         class="htmlarea">
                    </div>
                    <!--<span class="input-group-btn margin">-->

                        <!--<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Action-->
                        <!--<span class="fa fa-caret-down"></span></button>-->
                      <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">Action</a></li>-->
                        <!--<li><a href="#">Another action</a></li>-->
                        <!--<li><a href="#">Something else here</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="#">Separated link</a></li>-->
                      <!--</ul>-->
                                <!--<button type="button" class="btn btn-warning btn-flat" ng-click="chat.sendMessage(room)">Send</button>-->


                    <!--</span>-->

                <button type="button" class="btn btn-warning btn-flat" ng-click="chat.sendMessage(room)">Send</button>
                </div>
            </div>
            <!-- /.box-footer-->
        </div>
    </div>
    <!--/.direct-chat -->
</div>
<!-- /.col -->
</div>