<div class="chatrooms " ng-show="home.mainData.myUser">
    <div class="box box-warning" >
        <div class="direct-chat direct-chat-warning col-sm-12" id="bulletin">
        <div class="box-header with-border">
            <h3 class="box-title">Bulletin Board</h3>
            <div class="box-body">
                <div class="direct-chat-messages">
                    <div ng-repeat="message in home.bulletin" class="direct-chat-msg right">
                        <div class="direct-chat-info clearfix">
                            <span class="direct-chat-name pull-right">{{home.senderName(message.sender)}}</span>
                            <span class="direct-chat-timestamp pull-left"> {{ home.formatDateTime(message.submitDate) }}</span>
                        </div>
                        <img class="direct-chat-img" ng-attr-src="{{home.senderImage(message.sender)}}"
                             alt="message user image"><!-- /.direct-chat-img -->
                        <div class="direct-chat-text">
                            <p ng-bind-html="message.text"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer" ng-show="home.mainData.myUser.isAdmin">
                <div style="width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;"
                     class="form-group htmlarea">
                </div>
                <div class="form-group checkbox">
                    <div class="pull-right">
                        <button type="button" class="btn btn-warning btn-flat" ng-click="home.addBulletin()">
                            Send &nbsp;
                            <span class="glyphicon glyphicon-send"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
<style>
    .container {
        margin-top: 20px;
    }

    /* Carousel Styles */
    .carousel-indicators .active {
        background-color: #2980b9;
    }

    .carousel-inner img {
        width: 100%;
        max-height: 460px
    }

    .carousel-control {
        width: 0;
    }

    .carousel-control.left,
    .carousel-control.right {
        opacity: 1;
        filter: alpha(opacity=100);
        background-image: none;
        background-repeat: no-repeat;
        text-shadow: none;
    }

    .carousel-control.left span {
        padding: 15px;
    }

    .carousel-control.right span {
        padding: 15px;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        position: absolute;
        top: 45%;
        z-index: 5;
        display: inline-block;
    }

    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        left: 0;
    }

    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        right: 0;
    }

    .carousel-control.left span,
    .carousel-control.right span {
        background-color: #000;
    }

    .carousel-control.left span:hover,
    .carousel-control.right span:hover {
        opacity: .7;
        filter: alpha(opacity=70);
    }

    /* Carousel Header Styles */
    .header-text {
        position: absolute;
        top: 20%;
        left: 1.8%;
        right: auto;
        width: 96.66666666666666%;
        color: #fff;
    }

    .header-text h2 {
        font-size: 40px;
    }

    .header-text h2 span {
        background-color: #2980b9;
        padding: 10px;
    }

    .header-text h3 span {
        background-color: #000;
        padding: 15px;
    }

    .btn-min-block {
        min-width: 170px;
        line-height: 26px;
    }

    .btn-theme {
        color: #fff;
        background-color: transparent;
        border: 2px solid #fff;
        margin-right: 15px;
    }

    .btn-theme:hover {
        color: #000;
        background-color: #fff;
        border-color: #fff;
    }
</style>
<div class="container">
    <div class="row">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide col-sm-12" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="/public/img/carousel/1.jpeg" alt="First slide">
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to <strong>Our Building!</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>Ariel Ben-Ami & Reuven Plevinsky</span>
                            </h3>
                            <br>
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="/public/img/carousel/2.jpg" alt="Second slide">
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to <strong>Our Building!</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>Ariel Ben-Ami & Reuven Plevinsky</span>
                            </h3>
                            <br>
                        </div>
                    </div><!-- /header-text -->
                </div>
                <div class="item">
                    <img src="/public/img/carousel/3.jpg" alt="Third slide">
                    <div class="header-text hidden-xs">
                        <div class="col-md-12 text-center">
                            <h2>
                                <span>Welcome to <strong>Our Building!</strong></span>
                            </h2>
                            <br>
                            <h3>
                                <span>Ariel Ben-Ami & Reuven Plevinsky</span>
                            </h3>
                            <br>
                        </div>
                    </div><!-- /header-text -->
                </div>
            </div>
        </div><!-- /carousel -->
    </div>
</div>