<div class="row" ng-show="rooms.mainData.myUser">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">My Rooms</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="rooms.searchFilter.name" class="form-control pull-right" placeholder="Search by name">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Admin</th>
                        <th>Admin Email</th>
                        <th>Date Created</th>
                    </tr>
                    <tr ng-repeat="room in rooms.my_rooms | filter: rooms.searchFilter">
                        <td>{{room.name}}</td>
                        <td>{{room.admin_name}}</td>
                        <td><a ng-href="mailto:{{room.admin_mail}}">{{room.admin_mail}}</a></td>
                        <td>{{rooms.formatDateTime(room.date_created)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">My Pending Rooms</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="rooms.pendingSearchFilter.name" class="form-control pull-right" placeholder="Search by name">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Admin</th>
                        <th>Admin Email</th>
                        <th>Date Created</th>
                    </tr>
                    <tr ng-repeat="room in rooms.my_pending_rooms | filter: rooms.pendingSearchFilter">
                        <td>{{room.name}}</td>
                        <td>{{room.admin_name}}</td>
                        <td><a ng-href="mailto:{{room.admin_mail}}">{{room.admin_mail}}</a></td>
                        <td>{{rooms.formatDateTime(room.date_created)}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Available Rooms</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="rooms.otherSearchFilter.name" class="form-control pull-right" placeholder="Search by name">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Admin</th>
                        <th>Admin Email</th>
                        <th>Date Created</th>
                    </tr>
                    <tr ng-repeat="room in rooms.other_rooms | filter: rooms.otherSearchFilter">
                        <td>{{room.name}}</td>
                        <td>{{room.admin_name}}</td>
                        <td><a ng-href="mailto:{{room.admin_mail}}">{{room.admin_mail}}</a></td>
                        <td>{{rooms.formatDateTime(room.date_created)}}</td>
                        <td>
                            <button type="button" class="btn btn-primary"  ng-click="rooms.join_room(room._id)">
                                Join <span class="glyphicon glyphicon-edit"> </span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>

    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Waiting Requests</h3>

                <div class="box-tools">
                    <div class="input-group input-group-sm" style="width: 150px;">
                        <input type="text" name="table_search" ng-model="rooms.waiting_requests.room_name" class="form-control pull-right" placeholder="Search by name">
                        <div class="input-group-btn">
                            <button class="btn btn-default"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body table-responsive no-padding">
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <th>Room Name</th>
                        <th>User Name</th>
                        <th>User Email</th>
                    </tr>
                    <tr ng-repeat="req in rooms.waiting_requests | filter: rooms.waiting_requests.room_name">
                        <td>{{req.room_name}}</td>
                        <td>{{req.username}}</td>
                        <td><a ng-href="mailto:{{req.user_mail}}">{{req.user_mail}}</a></td>
                        <td>
                            <button type="button" class="btn btn-primary"  ng-click="rooms.confirm(req.userId, req.roomId)">
                                Confirm <span class="glyphicon glyphicon-ok"> </span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
</div>

<div class="form-group">
    <label class="col-md-2 control-label">New Room Name:</label>
    <div class="col-md-5 inputGroupContainer">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
            <input placeholder="Room Name" class="form-control" type="text"
                   ng-model="rooms.roomToAdd">
        </div>
    </div>
    <button ng-click="rooms.addRoom()" type="button" class="btn btn-primary">Add Room <span
            class="glyphicon glyphicon-plus"></span></button>
</div>