<div class="row" ng-show="webcam.mainData.myUser">
    <div ng-repeat="pic in webcam.images">
        <div class='col-sm-6'>
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">{{pic.header}}</h3>
                </div>
                <div class="box-body">
                    <img src="{{pic.url}}" class="img-responsive img-rounded detailimage" alt="" style="height: 300px"/>
                </div>
            </div>
        </div>
    </div>
</div>