<div class="login-box">
    <div class="login-logo">
        <a href="#/"><b>Vaad Bait</b></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>

        <div class="form-group has-feedback">
            <input type="text" class="form-control" id="username" placeholder="Username" ng-model="login.username">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            <input type="password" id="password" class="form-control" placeholder="Password" ng-model="login.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="form-group checkbox">
            <input type="checkbox" id="rememberMe" ng-model="login.rememberMe">
            <label for="rememberMe">&nbsp;&nbsp; Remember Me</label>
            <div class="pull-right">
                <button ng-click="login.login()" class="btn btn-primary btn-block btn-flat">
                    Sign In &nbsp;
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <input type="hidden" id="random" ng-model="login.random" ng-init="login.random=<%- random %>" />
        <br/>
        <a href="javascript:;" ng-click="login.forgotPassword()">I forgot my password</a><br /><br />
        <a href="javascript:;" ng-click="login.signup()" class="text-center">Register a new neighbor</a>
    </div>
    <!-- /.login-box-body -->
</div>
